@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#d90429;
    --text-color:#020120;
    --bg-color:#fff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: rgb(134, 167, 179); */
    background-color: var(--bg-color);
}

.review-container {
    max-width: 1300px;
    margin: auto; 
    /* max-width: 100%;
    margin: 2px auto; */
    padding-top: 0%;
    padding: 170px;
    /* Adjust the padding as needed */
    /* background-color: rgb(27, 100, 113); */
    background-color: var(--bg-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review {
    margin-top: 30px;
    width: 300px;
    /* Adjust the width and margin as needed */
    border: 2px solid #110606;
    border-radius: 10px;
    padding: 25px;
    margin: 5px;
    box-shadow: 0px 8px 8px rgb(17, 6, 6);
    /* background-color: #a7aaab; */
    background-color: rgb(212, 212, 212);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;


}

.review:hover {
    transform: translateY(-5px);
    box-shadow: 10px 13px 10px rgb(223, 213, 213);
}

.review:before {
    content: "★★★★";
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: #0e0902;
}

.reviewer-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reviewer-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px black;

}

.reviewer-name {
    font-weight: bold;
    color: #333;
}

.review-date {
    color: #030101;
}

.review-text {
    color:black;
    line-height: 1.4;
}

h1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
    text-decoration: dotted;

}